In [1]:
import pandas as pd

In [2]:
df=pd.DataFrame({'Animal':['Falcon','Panda','Lion','Chettah'],'Max speed':[200,180,120,189]})
df

    Animal  Max speed
0   Falcon        200
1    Panda        180
2     Lion        120
3  Chettah        189

In [4]:
a=df.groupby(['Animal']).mean()
a

         Max speed
Animal
Chettah      189.0
Falcon       200.0
Lion         120.0
Panda        180.0

In [6]:
b=df.groupby(['Animal']).max()
b

         Max speed
Animal
Chettah        189
Falcon         200
Lion           120
Panda          180

In [9]:
c=df.groupby(['Animal']).sum()
print(c)

         Max speed
Animal
Chettah        189
Falcon         200
Lion           120
Panda          180

In [11]:
d=df.groupby(['Animal']).count()
d

         Max speed
Animal
Chettah          1
Falcon           1
Lion             1
Panda            1

In [12]:
e=df.groupby(['Animal']).first()
e

         Max speed
Animal
Chettah        189
Falcon         200
Lion           120
Panda          180

In [13]:
f=df.groupby(['Animal']).last()
f

         Max speed
Animal
Chettah        189
Falcon         200
Lion           120
Panda          180

In [14]:
g=df.groupby(['Animal']).size()
g

Animal
Chettah    1
Falcon     1
Lion       1
Panda      1
dtype: int64