In [1]:
import numpy as np
import pandas as pd

In [3]:
info =pd.DataFrame([[1,2,3],[4,7,6],[9,12,14]],columns=['p','q','r'])
print(info)

   p   q   r
0  1   2   3
1  4   7   6
2  9  12  14

In [4]:
print(info.apply(np.sqrt))

     p         q         r
0  1.0  1.414214  1.732051
1  2.0  2.645751  2.449490
2  3.0  3.464102  3.741657

In [5]:
print(info.apply(np.sum,axis=0))

p    14
q    21
r    23
dtype: int64

In [6]:
print(info.apply(np.sum,axis=1))

0     6
1    17
2    35
dtype: int64

In [7]:
print(info.agg(['min','max']))

     p   q   r
min  1   2   3
max  9  12  14

In [10]:
account=pd.DataFrame([['Alan',30000,15],['Asuk',10000,7],['Light',70000,30]],columns=['Name','Insurance','Term'])
print(account)

    Name  Insurance  Term
0   Alan      30000    15
1   Asuk      10000     7
2  Light      70000    30

In [14]:
d2=pd.DataFrame([['Sinjuro',40000,19]],columns=['Name','Insurance','Term'])
d3=pd.concat([account,d2])
print(d3)

      Name  Insurance  Term
0     Alan      30000    15
1     Asuk      10000     7
2    Light      70000    30
0  Sinjuro      40000    19

In [15]:
print(d3.assign(default=['yes','no','yes','no']))

      Name  Insurance  Term default
0     Alan      30000    15     yes
1     Asuk      10000     7      no
2    Light      70000    30     yes
0  Sinjuro      40000    19      no

In [17]:
i=pd.DataFrame(np.random.randn(5,2),index=[3,2,0,4,1],columns=['c0l3','col4'])
print(i)

       c0l3      col4
3 -0.041833 -0.806660
2 -0.358826  0.597253
0  0.669954  0.249286
4 -0.627388 -0.274187
1  0.325211  0.564798

In [18]:
print(i.sort_index())

       c0l3      col4
0  0.669954  0.249286
1  0.325211  0.564798
2 -0.358826  0.597253
3 -0.041833 -0.806660
4 -0.627388 -0.274187

In [19]:
print(i.sort_values(by='col4'))

       c0l3      col4
3 -0.041833 -0.806660
4 -0.627388 -0.274187
0  0.669954  0.249286
1  0.325211  0.564798
2 -0.358826  0.597253

In [20]:
i2=pd.DataFrame(np.random.randn(5,2),index=[3,2,0,4,1],columns=['c0l1','col2'])
print(i)

       c0l3      col4
3 -0.041833 -0.806660
2 -0.358826  0.597253
0  0.669954  0.249286
4 -0.627388 -0.274187
1  0.325211  0.564798